<div board = "dark">
<table class="table table-dark">
  <tbody>
     <% @boards.reverse.each do |board|%>
    <tr>
      <td><h3><%=link_to truncate(board.contents, length: 20), "/#{board.id}/show",class:"text-white" %></h3></td>
      <td><%= board.created_at%></td>
      <td><a href = '/<%=board.id%>/edit'  class = "btn btn-info">수정</a>  <a data-confirm="삭제하겠습니까?" href = '/<%=board.id%>/destroy'  class = "btn btn-danger">삭제</a>
      <a href = '/<%=board.id%>/show'  class = "btn btn-light">보기</a></td>
    </tr>
    
    <%end%>
  </tbody>
</table>
</div>
